/* Oculta el botón de eliminar por defecto */
.boton-borrar {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Impide clics invisibles */
}

/* Muestra el botón cuando se pasa el ratón sobre el elemento <li> contenedor */
.elemento-hover:hover .boton-borrar {
  opacity: 1;
  pointer-events: auto; /* Permite hacer clic cuando es visible */
}

.elemento-hover {
  cursor: pointer;
}
